@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Ropa+Sans&family=Texturina:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MedievalSharp", cursive;
}

body {
  background-image: url("/img/dragon.jpg");
}

header nav {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  width: 100%;
  opacity: 0.9;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
}

header nav a:hover {
  text-decoration: 2px underline black;
  font-size: 22px;
  transition: 0.5s;
}

.logo-container {
  /* background-color: aqua; */
  /* padding-right: 30px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#logo {
  height: 4rem;
  /* width: 2rem; */
}

header h1 {
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.5rem;
}

header button {
  background-color: white;
  color: black;
  height: 3rem;
  border-radius: 17px;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

header button:hover {
  background-color: #ded5c6;
  color: black;
  transition: 1s;
  font-weight: bold;
}

main {
  padding: 20vh;
  width: 100%;
  height: 80vh;
  display: flex;
  /* background-color: aqua; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(238, 232, 232);
}

main div {
  gap: 30px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  /* background-color: aquamarine; */
}

main div h2 {
  font-size: 2.8rem;
}
main div h3 {
  font-size: 1.5rem;
}
main div h4 {
  font-size: 1rem;
}

.buttons {
  margin-top: 2.3rem;
  background-color: white;
  color: black;
  font-weight: bold;
  width: 20%;
  padding: 15px;
  border: none;
  font-size: 1rem;
  border-radius: 17px;
  text-transform: uppercase;
  /* align-items: left; */
  cursor: pointer;
  opacity: 0.8;
}

.title button:hover {
  background-color: #ded5c6;
  color: black;
  transition: 1s;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: 0.5;
}

footer img {
  height: 40px;
  width: 40px;
  padding: 3px 0;
}
